-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: koperasi_merah_putih_kelompok3
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `akun`
--

DROP TABLE IF EXISTS `akun`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `akun` (
  `id_akun` int(11) NOT NULL AUTO_INCREMENT,
  `kode_akun` varchar(20) DEFAULT NULL,
  `nama_akun` varchar(100) DEFAULT NULL,
  `tipe` enum('aset','kewajiban','modal','pendapatan','beban') DEFAULT NULL,
  PRIMARY KEY (`id_akun`),
  UNIQUE KEY `kode_akun` (`kode_akun`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `akun`
--

LOCK TABLES `akun` WRITE;
/*!40000 ALTER TABLE `akun` DISABLE KEYS */;
INSERT INTO `akun` VALUES (1,'101','Kas','aset'),(2,'401','Penjualan','pendapatan'),(3,'501','Beban Operasional','beban');
/*!40000 ALTER TABLE `akun` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `anggota`
--

DROP TABLE IF EXISTS `anggota`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `anggota` (
  `id_anggota` int(11) NOT NULL AUTO_INCREMENT,
  `no_anggota` varchar(30) NOT NULL,
  `nama_anggota` varchar(100) NOT NULL,
  `jk` enum('L','P') DEFAULT NULL,
  `alamat` text DEFAULT NULL,
  `no_hp` varchar(20) DEFAULT NULL,
  `tanggal_gabung` date DEFAULT NULL,
  `status` enum('aktif','nonaktif') DEFAULT 'aktif',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_anggota`),
  UNIQUE KEY `no_anggota` (`no_anggota`),
  KEY `idx_nama_anggota` (`nama_anggota`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `anggota`
--

LOCK TABLES `anggota` WRITE;
/*!40000 ALTER TABLE `anggota` DISABLE KEYS */;
/*!40000 ALTER TABLE `anggota` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `angsuran`
--

DROP TABLE IF EXISTS `angsuran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `angsuran` (
  `id_angsuran` int(11) NOT NULL AUTO_INCREMENT,
  `id_pinjaman` int(11) NOT NULL,
  `cicilan_ke` int(11) DEFAULT NULL CHECK (`cicilan_ke` > 0),
  `jumlah_bayar` decimal(15,2) DEFAULT NULL CHECK (`jumlah_bayar` > 0),
  `tanggal_bayar` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_angsuran`),
  KEY `id_pinjaman` (`id_pinjaman`),
  CONSTRAINT `angsuran_ibfk_1` FOREIGN KEY (`id_pinjaman`) REFERENCES `pinjaman` (`id_pinjaman`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `angsuran`
--

LOCK TABLES `angsuran` WRITE;
/*!40000 ALTER TABLE `angsuran` DISABLE KEYS */;
INSERT INTO `angsuran` VALUES (1,1,1,100000.00,'2025-03-01','2026-05-19 04:34:15'),(2,1,2,100000.00,'2025-04-01','2026-05-19 04:34:15'),(3,3,1,200000.00,'2025-03-10','2026-05-19 04:34:15');
/*!40000 ALTER TABLE `angsuran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_log`
--

DROP TABLE IF EXISTS `audit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_log` (
  `id_audit` int(11) NOT NULL AUTO_INCREMENT,
  `id_user` int(11) DEFAULT NULL,
  `aksi` varchar(100) DEFAULT NULL,
  `nama_tabel` varchar(100) DEFAULT NULL,
  `data_lama` text DEFAULT NULL,
  `data_baru` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_audit`),
  KEY `id_user` (`id_user`),
  CONSTRAINT `audit_log_ibfk_1` FOREIGN KEY (`id_user`) REFERENCES `users` (`id_user`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=83 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_log`
--

LOCK TABLES `audit_log` WRITE;
/*!40000 ALTER TABLE `audit_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `barang`
--

DROP TABLE IF EXISTS `barang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `barang` (
  `id_barang` int(11) NOT NULL AUTO_INCREMENT,
  `kode_barang` varchar(50) DEFAULT NULL,
  `nama_barang` varchar(100) DEFAULT NULL,
  `id_kategori` int(11) DEFAULT NULL,
  `harga_beli` decimal(15,2) DEFAULT NULL CHECK (`harga_beli` >= 0),
  `harga_jual` decimal(15,2) DEFAULT NULL CHECK (`harga_jual` >= 0),
  `stok` int(11) DEFAULT 0 CHECK (`stok` >= 0),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_barang`),
  UNIQUE KEY `kode_barang` (`kode_barang`),
  KEY `id_kategori` (`id_kategori`),
  KEY `idx_barang_nama` (`nama_barang`),
  CONSTRAINT `barang_ibfk_1` FOREIGN KEY (`id_kategori`) REFERENCES `kategori_barang` (`id_kategori`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `barang`
--

LOCK TABLES `barang` WRITE;
/*!40000 ALTER TABLE `barang` DISABLE KEYS */;
INSERT INTO `barang` VALUES (1,'BR001','Beras',1,10000.00,12000.00,90,'2026-05-19 04:34:15'),(2,'BR002','Teh Botol',2,3000.00,5000.00,40,'2026-05-19 04:34:15'),(3,'BR003','Buku Tulis',3,4000.00,6000.00,66,'2026-05-19 04:34:15');
/*!40000 ALTER TABLE `barang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_jurnal`
--

DROP TABLE IF EXISTS `detail_jurnal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detail_jurnal` (
  `id_detail_jurnal` int(11) NOT NULL AUTO_INCREMENT,
  `id_jurnal` int(11) DEFAULT NULL,
  `id_akun` int(11) DEFAULT NULL,
  `debit` decimal(15,2) DEFAULT 0.00,
  `kredit` decimal(15,2) DEFAULT 0.00,
  PRIMARY KEY (`id_detail_jurnal`),
  KEY `id_jurnal` (`id_jurnal`),
  KEY `id_akun` (`id_akun`),
  CONSTRAINT `detail_jurnal_ibfk_1` FOREIGN KEY (`id_jurnal`) REFERENCES `jurnal_umum` (`id_jurnal`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `detail_jurnal_ibfk_2` FOREIGN KEY (`id_akun`) REFERENCES `akun` (`id_akun`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_jurnal`
--

LOCK TABLES `detail_jurnal` WRITE;
/*!40000 ALTER TABLE `detail_jurnal` DISABLE KEYS */;
INSERT INTO `detail_jurnal` VALUES (1,1,1,150000.00,0.00),(2,1,2,0.00,150000.00),(3,2,3,50000.00,0.00);
/*!40000 ALTER TABLE `detail_jurnal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_pembelian`
--

DROP TABLE IF EXISTS `detail_pembelian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detail_pembelian` (
  `id_detail_pembelian` int(11) NOT NULL AUTO_INCREMENT,
  `id_pembelian` int(11) DEFAULT NULL,
  `id_barang` int(11) DEFAULT NULL,
  `qty` int(11) DEFAULT NULL CHECK (`qty` > 0),
  `harga` decimal(15,2) DEFAULT NULL CHECK (`harga` >= 0),
  `subtotal` decimal(15,2) DEFAULT NULL CHECK (`subtotal` >= 0),
  PRIMARY KEY (`id_detail_pembelian`),
  KEY `id_pembelian` (`id_pembelian`),
  KEY `id_barang` (`id_barang`),
  CONSTRAINT `detail_pembelian_ibfk_1` FOREIGN KEY (`id_pembelian`) REFERENCES `pembelian` (`id_pembelian`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `detail_pembelian_ibfk_2` FOREIGN KEY (`id_barang`) REFERENCES `barang` (`id_barang`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_pembelian`
--

LOCK TABLES `detail_pembelian` WRITE;
/*!40000 ALTER TABLE `detail_pembelian` DISABLE KEYS */;
INSERT INTO `detail_pembelian` VALUES (1,1,1,20,10000.00,200000.00),(2,2,2,30,3000.00,90000.00),(3,3,3,40,4000.00,160000.00);
/*!40000 ALTER TABLE `detail_pembelian` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_penjualan`
--

DROP TABLE IF EXISTS `detail_penjualan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detail_penjualan` (
  `id_detail_penjualan` int(11) NOT NULL AUTO_INCREMENT,
  `id_penjualan` int(11) DEFAULT NULL,
  `id_barang` int(11) DEFAULT NULL,
  `qty` int(11) DEFAULT NULL CHECK (`qty` > 0),
  `harga` decimal(15,2) DEFAULT NULL CHECK (`harga` >= 0),
  `subtotal` decimal(15,2) DEFAULT NULL CHECK (`subtotal` >= 0),
  PRIMARY KEY (`id_detail_penjualan`),
  KEY `id_penjualan` (`id_penjualan`),
  KEY `id_barang` (`id_barang`),
  CONSTRAINT `detail_penjualan_ibfk_1` FOREIGN KEY (`id_penjualan`) REFERENCES `penjualan` (`id_penjualan`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `detail_penjualan_ibfk_2` FOREIGN KEY (`id_barang`) REFERENCES `barang` (`id_barang`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_penjualan`
--

LOCK TABLES `detail_penjualan` WRITE;
/*!40000 ALTER TABLE `detail_penjualan` DISABLE KEYS */;
INSERT INTO `detail_penjualan` VALUES (1,1,1,5,12000.00,60000.00),(2,2,2,10,5000.00,50000.00),(3,3,3,8,6000.00,48000.00),(4,4,1,1,12000.00,12000.00),(5,4,3,1,6000.00,6000.00),(6,5,1,2,12000.00,24000.00),(7,6,1,2,12000.00,24000.00);
/*!40000 ALTER TABLE `detail_penjualan` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_penjualan_stok

AFTER INSERT ON detail_penjualan

FOR EACH ROW

BEGIN



    UPDATE barang

    SET stok = stok - NEW.qty

    WHERE id_barang = NEW.id_barang;



END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_mutasi_stok_keluar

AFTER INSERT ON detail_penjualan

FOR EACH ROW

BEGIN



    INSERT INTO mutasi_stok(

        id_barang,

        jenis,

        qty,

        keterangan

    )

    VALUES(

        NEW.id_barang,

        'keluar',

        NEW.qty,

        'Penjualan Barang'

    );



END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `jurnal_umum`
--

DROP TABLE IF EXISTS `jurnal_umum`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jurnal_umum` (
  `id_jurnal` int(11) NOT NULL AUTO_INCREMENT,
  `kode_jurnal` varchar(50) DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `keterangan` text DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_jurnal`),
  UNIQUE KEY `kode_jurnal` (`kode_jurnal`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `jurnal_umum_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id_user`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jurnal_umum`
--

LOCK TABLES `jurnal_umum` WRITE;
/*!40000 ALTER TABLE `jurnal_umum` DISABLE KEYS */;
INSERT INTO `jurnal_umum` VALUES (1,'JU001','2025-03-01','Penjualan Harian',1),(2,'JU002','2025-03-02','Pembelian Barang',1),(3,'JU003','2025-03-03','Pembayaran Angsuran',2);
/*!40000 ALTER TABLE `jurnal_umum` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kategori_barang`
--

DROP TABLE IF EXISTS `kategori_barang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kategori_barang` (
  `id_kategori` int(11) NOT NULL AUTO_INCREMENT,
  `nama_kategori` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id_kategori`),
  UNIQUE KEY `nama_kategori` (`nama_kategori`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kategori_barang`
--

LOCK TABLES `kategori_barang` WRITE;
/*!40000 ALTER TABLE `kategori_barang` DISABLE KEYS */;
INSERT INTO `kategori_barang` VALUES (3,'ATK'),(2,'Minuman'),(1,'Sembako');
/*!40000 ALTER TABLE `kategori_barang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mutasi_stok`
--

DROP TABLE IF EXISTS `mutasi_stok`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mutasi_stok` (
  `id_mutasi` int(11) NOT NULL AUTO_INCREMENT,
  `id_barang` int(11) DEFAULT NULL,
  `jenis` enum('masuk','keluar') DEFAULT NULL,
  `qty` int(11) DEFAULT NULL CHECK (`qty` > 0),
  `keterangan` text DEFAULT NULL,
  `tanggal` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_mutasi`),
  KEY `id_barang` (`id_barang`),
  CONSTRAINT `mutasi_stok_ibfk_1` FOREIGN KEY (`id_barang`) REFERENCES `barang` (`id_barang`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mutasi_stok`
--

LOCK TABLES `mutasi_stok` WRITE;
/*!40000 ALTER TABLE `mutasi_stok` DISABLE KEYS */;
INSERT INTO `mutasi_stok` VALUES (1,1,'keluar',5,'Penjualan Barang','2026-05-19 04:34:15'),(2,2,'keluar',10,'Penjualan Barang','2026-05-19 04:34:15'),(3,3,'keluar',8,'Penjualan Barang','2026-05-19 04:34:15'),(4,1,'masuk',20,'Pembelian','2026-05-19 04:34:15'),(5,2,'keluar',10,'Penjualan','2026-05-19 04:34:15'),(6,3,'masuk',15,'Restok','2026-05-19 04:34:15'),(7,1,'keluar',1,'Penjualan Barang','2026-05-21 10:38:34'),(8,3,'keluar',1,'Penjualan Barang','2026-05-21 10:38:34'),(9,1,'keluar',2,'Penjualan Barang','2026-05-24 06:43:36'),(10,1,'keluar',2,'Penjualan Barang','2026-05-24 06:45:56');
/*!40000 ALTER TABLE `mutasi_stok` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pembelian`
--

DROP TABLE IF EXISTS `pembelian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pembelian` (
  `id_pembelian` int(11) NOT NULL AUTO_INCREMENT,
  `kode_pembelian` varchar(50) DEFAULT NULL,
  `id_supplier` int(11) DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `total` decimal(15,2) DEFAULT NULL CHECK (`total` >= 0),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_pembelian`),
  UNIQUE KEY `kode_pembelian` (`kode_pembelian`),
  KEY `id_supplier` (`id_supplier`),
  CONSTRAINT `pembelian_ibfk_1` FOREIGN KEY (`id_supplier`) REFERENCES `supplier` (`id_supplier`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pembelian`
--

LOCK TABLES `pembelian` WRITE;
/*!40000 ALTER TABLE `pembelian` DISABLE KEYS */;
INSERT INTO `pembelian` VALUES (1,'PB001',1,'2025-02-10',500000.00,'2026-05-19 04:34:15'),(2,'PB002',2,'2025-02-11',600000.00,'2026-05-19 04:34:15'),(3,'PB003',3,'2025-02-12',700000.00,'2026-05-19 04:34:15');
/*!40000 ALTER TABLE `pembelian` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `penarikan_simpanan`
--

DROP TABLE IF EXISTS `penarikan_simpanan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `penarikan_simpanan` (
  `id_penarikan` int(11) NOT NULL AUTO_INCREMENT,
  `kode_penarikan` varchar(50) DEFAULT NULL,
  `id_anggota` int(11) NOT NULL,
  `jumlah` decimal(15,2) DEFAULT NULL CHECK (`jumlah` > 0),
  `tanggal` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_penarikan`),
  UNIQUE KEY `kode_penarikan` (`kode_penarikan`),
  KEY `id_anggota` (`id_anggota`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `penarikan_simpanan`
--

LOCK TABLES `penarikan_simpanan` WRITE;
/*!40000 ALTER TABLE `penarikan_simpanan` DISABLE KEYS */;
INSERT INTO `penarikan_simpanan` VALUES (1,'TRK-001',3,50000.00,'2026-05-21','2026-05-21 08:42:33'),(2,'TRK-002',3,25000.00,'2026-05-21','2026-05-21 08:43:11'),(3,'TRK-003',2,50000.00,'2026-05-21','2026-05-21 09:07:27'),(4,'TRK-004',2,50000.00,'2026-05-21','2026-05-21 09:12:01'),(5,'TRK-005',3,50000.00,'2026-05-25','2026-05-25 08:01:34');
/*!40000 ALTER TABLE `penarikan_simpanan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `penjualan`
--

DROP TABLE IF EXISTS `penjualan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `penjualan` (
  `id_penjualan` int(11) NOT NULL AUTO_INCREMENT,
  `kode_penjualan` varchar(50) DEFAULT NULL,
  `id_anggota` int(11) DEFAULT NULL,
  `id_user` int(11) DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `total` decimal(15,2) DEFAULT NULL CHECK (`total` >= 0),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_penjualan`),
  UNIQUE KEY `kode_penjualan` (`kode_penjualan`),
  KEY `id_user` (`id_user`),
  KEY `idx_tanggal_penjualan` (`tanggal`),
  KEY `fk_penjualan_anggota` (`id_anggota`),
  CONSTRAINT `fk_penjualan_anggota` FOREIGN KEY (`id_anggota`) REFERENCES `anggota` (`id_anggota`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `penjualan_ibfk_1` FOREIGN KEY (`id_user`) REFERENCES `users` (`id_user`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `penjualan`
--

LOCK TABLES `penjualan` WRITE;
/*!40000 ALTER TABLE `penjualan` DISABLE KEYS */;
INSERT INTO `penjualan` VALUES (1,'JL001',NULL,3,'2026-05-25',60000.00,'2026-05-19 04:34:15'),(2,'JL002',NULL,3,'2026-05-25',50000.00,'2026-05-19 04:34:15'),(3,'JL003',NULL,3,'2026-05-25',48000.00,'2026-05-19 04:34:15'),(4,'JL-20260521-001',NULL,1,'2026-05-21',18000.00,'2026-05-21 10:38:34'),(5,'JL-20260524-001',3,3,'2026-05-24',24000.00,'2026-05-24 06:43:36'),(6,'JL-20260524-002',5,3,'2026-05-24',24000.00,'2026-05-24 06:45:56');
/*!40000 ALTER TABLE `penjualan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pinjaman`
--

DROP TABLE IF EXISTS `pinjaman`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pinjaman` (
  `id_pinjaman` int(11) NOT NULL AUTO_INCREMENT,
  `kode_pinjaman` varchar(50) DEFAULT NULL,
  `id_anggota` int(11) NOT NULL,
  `jumlah_pinjaman` decimal(15,2) DEFAULT NULL CHECK (`jumlah_pinjaman` > 0),
  `bunga` decimal(5,2) DEFAULT NULL CHECK (`bunga` >= 0),
  `lama_angsuran` int(11) DEFAULT NULL CHECK (`lama_angsuran` > 0),
  `tanggal_pinjam` date DEFAULT NULL,
  `status` enum('pending','approved','ditolak','lunas') DEFAULT 'pending',
  `approved_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_pinjaman`),
  UNIQUE KEY `kode_pinjaman` (`kode_pinjaman`),
  KEY `id_anggota` (`id_anggota`),
  KEY `approved_by` (`approved_by`),
  KEY `idx_tanggal_pinjaman` (`tanggal_pinjam`),
  CONSTRAINT `pinjaman_ibfk_1` FOREIGN KEY (`id_anggota`) REFERENCES `anggota` (`id_anggota`) ON UPDATE CASCADE,
  CONSTRAINT `pinjaman_ibfk_2` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id_user`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pinjaman`
--

LOCK TABLES `pinjaman` WRITE;
/*!40000 ALTER TABLE `pinjaman` DISABLE KEYS */;
INSERT INTO `pinjaman` VALUES (1,'PJ001',1,1000000.00,5.00,10,'2025-02-01','approved',1,'2026-05-19 04:34:15'),(2,'PJ002',2,2000000.00,4.00,12,'2025-02-02','pending',NULL,'2026-05-19 04:34:15'),(3,'PJ003',3,1500000.00,6.00,8,'2025-02-03','approved',1,'2026-05-19 04:34:15');
/*!40000 ALTER TABLE `pinjaman` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id_role` int(11) NOT NULL AUTO_INCREMENT,
  `nama_role` varchar(50) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_role`),
  UNIQUE KEY `nama_role` (`nama_role`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Admin','2026-05-19 04:34:15'),(2,'Bendahara','2026-05-19 04:34:15'),(3,'Kasir','2026-05-19 04:34:15');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `simpanan`
--

DROP TABLE IF EXISTS `simpanan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `simpanan` (
  `id_simpanan` int(11) NOT NULL AUTO_INCREMENT,
  `kode_simpanan` varchar(50) DEFAULT NULL,
  `id_anggota` int(11) NOT NULL,
  `jenis_simpanan` enum('pokok','wajib','sukarela') DEFAULT NULL,
  `jumlah` decimal(15,2) DEFAULT NULL CHECK (`jumlah` >= 0),
  `tanggal` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_simpanan`),
  UNIQUE KEY `kode_simpanan` (`kode_simpanan`),
  KEY `id_anggota` (`id_anggota`),
  CONSTRAINT `simpanan_ibfk_1` FOREIGN KEY (`id_anggota`) REFERENCES `anggota` (`id_anggota`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `simpanan`
--

LOCK TABLES `simpanan` WRITE;
/*!40000 ALTER TABLE `simpanan` DISABLE KEYS */;
INSERT INTO `simpanan` VALUES (1,'SP001',1,'pokok',100000.00,'2025-01-10','2026-05-19 04:34:15'),(2,'SP002',2,'wajib',50000.00,'2025-01-11','2026-05-19 04:34:15'),(3,'SP003',3,'sukarela',75000.00,'2025-01-12','2026-05-19 04:34:15'),(6,'SIM-001',3,'sukarela',100000.00,'2026-05-19','2026-05-19 08:01:10'),(7,'SIM-002',5,'pokok',1000000.00,'2026-05-19','2026-05-19 08:24:02'),(8,'SIM-003',2,'sukarela',1000000.00,'2026-05-21','2026-05-21 09:06:47'),(9,'SIM-004',3,'sukarela',100000.00,'2026-05-25','2026-05-25 07:59:53'),(10,'SIM-005',3,'sukarela',5000000.00,'2026-05-25','2026-05-25 08:17:25');
/*!40000 ALTER TABLE `simpanan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supplier`
--

DROP TABLE IF EXISTS `supplier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `supplier` (
  `id_supplier` int(11) NOT NULL AUTO_INCREMENT,
  `nama_supplier` varchar(100) DEFAULT NULL,
  `alamat` text DEFAULT NULL,
  `no_hp` varchar(20) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_supplier`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supplier`
--

LOCK TABLES `supplier` WRITE;
/*!40000 ALTER TABLE `supplier` DISABLE KEYS */;
INSERT INTO `supplier` VALUES (1,'PT Maju','Medan','081234567','2026-05-19 04:34:15'),(2,'PT Sejahtera','Binjai','082345678','2026-05-19 04:34:15'),(3,'PT Makmur','Tebing','083456789','2026-05-19 04:34:15');
/*!40000 ALTER TABLE `supplier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id_user` int(11) NOT NULL AUTO_INCREMENT,
  `id_role` int(11) DEFAULT NULL,
  `nama` varchar(100) NOT NULL,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `status` enum('aktif','nonaktif') DEFAULT 'aktif',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_user`),
  UNIQUE KEY `username` (`username`),
  KEY `id_role` (`id_role`),
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`id_role`) REFERENCES `roles` (`id_role`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,1,'azzis arasih','azzis arasih','$2y$10$gscK6k9zncR2eibpKm.A4uvvD3GA3ES1r/XKHaz6bE7KNvlKWezEq','aktif','2026-05-19 04:34:15','2026-05-25 07:58:00',NULL),(2,2,'Budi','budi','$2y$10$gscK6k9zncR2eibpKm.A4uvvD3GA3ES1r/XKHaz6bE7KNvlKWezEq','aktif','2026-05-19 04:34:15','2026-05-19 06:11:28',NULL),(3,3,'Citra','citra','$2y$10$gscK6k9zncR2eibpKm.A4uvvD3GA3ES1r/XKHaz6bE7KNvlKWezEq','aktif','2026-05-19 04:34:15','2026-05-19 06:11:28',NULL);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-26 19:48:44
